
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend-dev
    ports:
      - "5173:5173" 
    volumes:
      - ./frontend:/app       
      - /app/node_modules      
    environment:
      - VITE_PORT=5173

      - CHOKIDAR_USEPOLLING=true 
    stdin_open: true           
    tty: true

  mysql: 
    image: mysql:latest
    container_name: mysql-dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dwp4_app
    ports:
      - "3309:3309"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
volumes:
  mysql-data: